/* container for fr without module menu */
.farm-registry-main-container {
  height: calc(100% - 25px - 55px);
  display: flex;
  width: 100%;
}

.registrationbtnCapacitiesHolder {
  display: flex;
  height: 60vh;
  flex-direction: column;
  margin-top: 0.5vh;
  margin-left: 1%;
  overflow: hidden auto;
}

.livestockButtonHolder {
  display: flex;
  flex-direction: inherit;
  column-gap: 1vh;
  margin-bottom: 0.5%;
}

.farm-registry-sidemenu {
  width: 20%;
  overflow: hidden;
  background: #304040;
  -moz-animation-name: slide-in-left;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.5s;
  -webkit-animation-name: slide-in-left;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.5s;
  animation-name: slide-in-left;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  padding-bottom: 20px;
  height: 100%;
  font-size: 0.9vw;
}

.farm-registry-content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn_reg,
.btn_text_start {
  text-overflow: clip;
  text-align: start;
  display: inline-block;
  width: 95%;
  height: 4vh;
  font-size: 16px;
  margin-top: 1vh;
  position: relative;
  border: none;
  background-color: rgb(48 64 64);
  color: #f8f9fa;
}

.btn_reg::after,
.btn_text_start::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-top: 1.3vh;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

.btn_reg:hover::after,
.btn_text_start:hover::after {
  width: 95%;
  border-radius: 0px;
}

.btn_reg:focus,
.btn_text_start:focus {
  width: 95%;
  margin-left: 3%;
  color: #e8b763;
  font-weight: bold;
  border-bottom: 2px solid #e8b763;
  border-radius: 0px;
  outline: none;
}

.btn_text_start:focus::after {
  width: 0;
}

.iconHolderBack {
  width: 6rem;
  margin: 2vh 1vh;
  color: #ffffff;
  border: 1px solid #ffffff38;
  border-radius: 5px;
  padding: 0.5vh;
  box-shadow: 1px 0px 5px #ffffff9e;
}

.iconHolderBack:hover {
  color: #e8b763;
  border: 1px solid #e8b763;
}

.searchForm {
  display: flex;
  column-gap: 1vh;
  border-bottom: none;
  padding: 1vh;
  background: white;
  box-shadow: 3px 3px 3px #a3a3a3;
  border-left: 1px solid #a4a4a4;
  border-right: 1px solid #a4a4a4;
  border-top: 1px solid #a4a4a4;
}


.searchFormContainer {
  border: 1px solid red;
}

.distanceBetweenElements {
  background: #ffffff;
  border-radius: 5px;
  border-bottom: 3px solid #e8b763;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 4vh;
  margin-right: 1vh;
}

.btn_reg_right {
  text-align: center;
  margin: 0.5%;
  transition: 0.5s;
  padding: 1%;
  background-size: 200% auto;
  color: white;
  box-shadow: inset 2px 2px 5px rgb(110 110 110 / 50%),
    1px 1px 5px rgb(63 63 63);
  height: auto;
  border-radius: 4px;
  display: block;
  border: none;
  background-image: linear-gradient(to right, 70% #304040 0%,
      #52695d 51%,
      #304040 100%);
}

.btn_reg_right:hover {
  color: #e8b763;
}

.btn_reg_right:active {
  font-weight: 600;
}

.btn_reg_right:focus {
  color: #e8b763;
  outline: none;
}

.btn_sub {
  background: #304040;
  color: white;
  border: none;
  margin: 1vh;
  text-align: start;
  border-left: 3px solid #5b7065;
  outline: 0 !important;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 45px;
  width: 96%;
}

.btn_sub p {
  margin: 0;
  padding: 0;
  /* padding-top: 5px;
  padding-left: 5px; */
}

.btn_sub:hover {
  border-left: 3px solid #ffffff;
  border-radius: 4px;
  background: #6681688e;
}

.btn_sub.active {
  background: #668168;
  outline: none;
  border-radius: 4px;
  border-left: 3px solid #8bc34a;
}

.submenu {
  margin-left: 55px;
}

.livestock_btn_reg {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  height: 4vh;
  width: 22vh;
  border-radius: 4px;
  display: block;
  border: none;
  background-image: linear-gradient(to right,
      #304040 0%,
      #52695d 51%,
      #304040 100%);
}

.livestock_btn_reg:hover,
.livestock_btn_reg:focus {
  color: #e8b763;
  outline: none;
}

.btnHolder {
  height: 12%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.farm-registry-content-search {
  width: 95%;
  height: 95%;
}

.listGroupRegHolder {
  border-bottom-color: #a28d4e;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  /* margin: 0.5vh; */
  grid-template-columns: 20% 20% 20% 20% 20%;
  display: grid;
  align-items: center;
}

.listGroupReg {
  background: #ccc;
  color: #263038;
  height: max-content;
  text-align: center;
  cursor: pointer;
  margin: 1%;
  border-radius: 10vh;
}

.listGroupReg_active {
  color: white;
  background: #26303854;
  border: 1px solid #263038;
  padding: 0.5rem;
  margin: 1vh;
  text-align: center;
  cursor: pointer;
  border-radius: 20vh;
}

.listGroupReg:hover {
  border-radius: 20vh;
  color: white;
  background: #2630384f;
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.listGroupReg:active {
  color: white;
  background: #26303854;
  border: 1px solid #263038;
  padding: 0.5rem;
  margin: 1vh;
  text-align: center;
  cursor: pointer;
  border-radius: 20vh;
}

.buttonCreate {
  color: #fff;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.buttonCreate:before,
.buttonCreate:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #476b009a;
  z-index: -1;
  transform: translate3D(0, -100%, 0);
  -webkit-transform: translate3D(0, -100%, 0);
  -ms-transform: translate3D(0, -100%, 0);
  -moz-transform: translate3D(0, -100%, 0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.buttonCreate:before {
  background: #2e4600;
  z-index: -2;
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
}

.buttonCreate:hover {
  color: #000;
}

.buttonCreate:hover:after {
  transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.buttonCreate:focus {
  box-shadow: 0 0 0 0.3rem rgba(72, 180, 97, 0.5);
}

.btn {
  background: none;
  background-color: none;
  color: #fff;
  padding: 0.3rem;
  border: 0 solid transparent;
  transition: all 0.3s ease-in-out;
  width: 9rem;
  display: inline-block;
  height: 2rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.btn:focus {
  outline: none;
}

.titleClass {
  border-bottom: 1px solid;
  width: 11rem;
  color: #263038;
  margin-left: 20vh;
}

.animalSingleGroup {
  display: grid;
  grid-template-columns: 49% 0% 49%;
  grid-template-rows: 55vh;
  column-gap: 2%;
}

.vLine {
  border: 0.1vh solid #e8b763;
  height: 93vh;
}

.btn_text_start {
  text-align: start;
  margin-bottom: 1vh;
}

.iframe-lpis {
  width: 100%;
  height: 89%;
  z-index: 99999;
  top: 8%;
  left: 0;
}

.close-iframe-btn {
  position: fixed;
  right: 0;
  z-index: 99999;
  width: 4vh;
  height: 5vh;
  top: 0;
  background: #e8b763;
  font-size: 2em;
  color: #000000;
  font-weight: bold;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
}

.btn-holder {
  display: flex;
  flex-direction: row;
  background: white;
  height: max-content;
  border: 1px solid #a4a4a4;
}

.btn-reset {
  text-align: center;
  margin: 0.5%;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: inset 2px 2px 5px rgb(110 110 110 / 50%), 1px 1px 5px rgb(63 63 63);
  height: auto;
  border-radius: 4px;
  display: block;
  border: none;
  background-image: linear-gradient(to right, #606060 0%, #919191 51%, #686868 100%);
  float: right;
  padding: 1%;
}

.mapBtn {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  height: auto;
  width: auto;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(to right, #304040 0%, #52695d 51%, #304040 100%);
  display: flex;
  align-items: center;
}

.mapBtn:hover {
  color: #e8b763;
}

.farmerInfo {
  padding-top: 2%;
  color: white;
  border: 1px solid rgb(91 112 101);
  box-shadow: 2px 2px 5px rgb(37 37 37);
  background: #5b7065;
  border-radius: 3px;
  display: flex;
  margin-top: 3%;
}

.farmer-info-right {
  padding: 10px;
  border: 1px solid rgb(91 112 101);
  box-shadow: 2px 2px 5px rgb(37 37 37);
  background: #5b7065;
  border-radius: 3px;
  color: white;
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.8vw;
}

.farmer-info-right p {
  margin: 0;
}

.parentgrid {
  display: grid;
  grid-template-columns: 8% 93%;
  text-align: left;
  margin-bottom: 2%;
  padding: 2%;
  border-radius: 4px;
  background: #eee;
  align-items: center;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.form-SC {
  padding: 0 20px 20px 20px;
  align-items: right;
  width: 100%;
  overflow: auto;
  -moz-animation-name: showEffect;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 0.3s;
  -webkit-animation-name: showEffect;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
  animation-name: showEffect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  background: #ffffffb0;
  box-shadow: 5px 10px 8px 0 #ffffff40;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
}

.sub-menu-sub-item-active {
  margin-left: 35px !important;
  width: 90% !important;
}

.sub-menu-sub-item-hidden {
  display: none;
}

.farm-registry-modal {
  z-index: 2000 !important;
  display: flex;
  padding-right: 7px;
  justify-content: center;
  align-items: center;
}

.farm-registry-modal-body {
  margin-top: 30px
}

.farm-registry-modal-header {
  background: #304040;
  height: 8.5%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  width: 100%;
  border-bottom: 5px solid #e8b763;
  color: white;
}

.farm-registry-modal-footer {
  background: #304040;
  height: 8.5%;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 20px;
  border-top: 5px solid #e8b763;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.farm-registry-btn-holder {
  display: flex;
  float: right;
}

.dataHolder {
  width: 95%;
  height: 95%;
}

.farm-registry-submenu-comp {
  width: 95%;
  height: 95%;
}

.initial-farm-registry-btns {
  border-left: 0;
}

.custom-btn-holder-cad_parcel {
  width: 100%;
  position: absolute;
  top: 1.45%;
  float: right;
  margin-left: -163px;
  text-align: right;
}

.custom-grid-container {
  position: relative;
}

.cad_parcel-btn,
.cad_parcel-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  color: inherit;
  background: #f1f1f1 !important;
  font-size: 1rem !important;
  margin-left: 0.5rem !important;
  color: #1d1d1d !important;
  background: #f1f1f1 !important;
  border: 1px solid #e7eaec;
  border-radius: 3px;
}

.dynamic-comp-icon-holder {
  display: block;
  height: 25px;
  width: 25px;
}

.file-name-upload {
  border: none;
  font-size: 16px;
  padding: 0.5vh;
  background: transparent;
  text-align: start;
}

.file-name-upload:hover {
  background-color: #e6e6e6;
}

.file-name-upload:focus {
  outline: none;
}

.delete-file-btn,
.download-file-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #c92727;
  margin-right: 0px;
  float: right;
  padding: 0.5vh;
  outline: none;
}

.download-file-btn {
  color: #181818;
}

.delete-file-btn:hover {
  color: #e30a0a;
  border-radius: 5px;
}

.download-file-btn:hover {
  color: #313131;
  border-radius: 5px;
}

.delete-file-btn:focus,
.download-file-btn:focus {
  outline: none;
}

.downloadable-item-div {
  display: flex;
  padding: 10px;
  width: 71%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px rgb(37 37 37 / 38%);
  margin: 10px;
  /* height: 100%; */
  align-items: center;
}

.upload-file-btn {
  text-indent: 0;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
  cursor: pointer;
}

.upload-file-btn:active {
  transform: scale(.96);
}

.farm-registry-documents-container {
  box-shadow: 2px 2px 5px rgb(37 37 37 / 38%);
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 5px;
}

.custom-menu-holder {
  height: 100%;
  width: 100%;
}

.farm-registry-upload {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 9%;
}

.farm-registry-upload p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.farm-registry-files {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: auto;
  height: 91%;
}

.download-icon-text {
  height: 40px;
  display: flex;
  align-items: center;
}

.download-icon-text span {
  height: 40px;
}

.upload-to-download-btn {
  color: black;
  margin-right: 10px;
}

.upload-to-download-btn svg {
  transform: rotate(180deg);
}

.toggle-on-child {
  display: block;
}

.toggle-off-child {
  display: none;
}

.agri_parcel-btn {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  height: auto;
  width: auto;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(to right, #304040 0%, #52695d 51%, #304040 100%);
  font-weight: bold;
  height: 50px;
  margin-bottom: 5px;
}

.dynamic-comp-main-div {
  height: 75%;
  overflow: hidden auto;
}

.dynamic-comp-main-div::-webkit-scrollbar-thumb {
  background: #4b614c !important;
  border-radius: 5px;
}

.parent-dynamic-grid {
  width: 50%;
}

.child-dynamic-grid {
  width: 50%;
}

.custom-menu-pplan-container {
  display: flex;
  gap: 10px;
}

.side-menu-bottom-div {
  height: 50px;
}

.child-grid-balancer {
  height: 55px;
}

.pplan-btn {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  height: auto;
  width: auto;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(to right, #304040 0%, #52695d 51%, #304040 100%);
  font-weight: bold;
  height: 50px;
  margin-bottom: 5px;
}