.ag-header-container {
  background: #5b7065;
  color: white;
  font-size: 15px;
}

.ag-header-icon {
  color: white;
  opacity: 100% !important;
}

.ag-theme-balham {
  font-size: 15px;
}

.ag-cell {
  font-size: 15px;
}

.ag-icon {
  color: white !important;
}

.hide-legend-form legend {
  display: none !important;
}

.farm-registry-forms .field-string,
.farm-registry-forms .field-integer,
.farm-registry-forms .field-number,
.farm-registry-forms .field-boolean {
  width: 33%;
}

.farm-registry-forms legend,
.custom-farm-registry-form legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  text-align: center;
  white-space: normal;
  background: #e0ab11;
  border-radius: 15px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 10px 2px #26303885;
}

.farm-reg-dd legend {
  display: none;
}

.farm-reg-dd .field-string {
  width: 100%;
}

.dd-form-con {
  display: flex;
}

.registration-module-farm-registry-modal .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
}

.registration-module-farm-registry-modal .modal-content {
  border: none;
  margin: 0;
  width: 90%;
  max-width: none;
}

.registration-module-farm-registry-modal .modal-header .close {
  color: white;
}

.registration-module-farm-registry-modal .modal-header .close :focus {
  outline: none;
  border: none;
}

.read-only-form .btn_save_form {
  display: none;
}

.read-only-form .field-string input,
.read-only-form .field-integer input,
.read-only-form .field-string select,
.read-only-form .field-number input {
  background-color: #d0d2d38c;
}

.registration-module-farm-registry-modal {
  padding-top: 0;
}

.registration-module-custom-grid-container #refreshData {
  position: relative;
  z-index: 999;
}

.farm_activities_yn-farm-registry-form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
}

.farm_activities_yn-farm-registry-form .field-string {
  width: 100%
}

.ahv_single_animal-farm-registry-form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ahv_single_animal-farm-registry-form .field-string,
.ahv_single_animal-farm-registry-form .field-integer,
.ahv_single_animal-farm-registry-form .field-number,
.ahv_single_animal-farm-registry-form .field-boolean {
  width: 100%;
}

.ahv_single_animal-farm-registry-form .form-group .form-group:has(select[name="initialDropdown"]) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ahv_single_animal-farm-registry-form .form-group .form-group:has(select[name="initialDropdown"]) .form-group {
  width: 50%;
}

.other_gainful_activities-farm-registry-form #root__title {
  display: none;
}

.other_gainful_activities-farm-registry-form>.form-group>fieldset>.form-group>fieldset {
  display: grid;
  align-items: end;
  grid-template-columns: 33% 33% 33%;
}

.other_gainful_activities-farm-registry-form .field-string {
  width: 100%;
}