.dataHolder {
  width: 96%;
  margin: 0 2%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 0;
  box-shadow: inset 2px 2px 5px rgb(110 110 110 / 50%), 1px 1px 5px rgb(126 126 126);
}

.rightContainer {
  width: 96%;
  height: 74vh;
  overflow: auto;
  margin: 0 2%;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 2vh;
  -moz-box-shadow: inset 2px 2px 5px rgb(110 110 110 / 50%), 1px 1px 5px rgb(126 126 126);
  -webkit-box-shadow: inset 2px 2px 5px rgb(110 110 110 / 50%), 1px 1px 5px rgb(126 126 126);
  box-shadow: inset 2px 2px 5px rgb(110 110 110 / 50%), 1px 1px 5px rgb(126 126 126);
  border-radius: 5px;
  background: -webkit-linear-gradient(to right, #ebebeb, #8ca196);
  background: linear-gradient(to right, #ebebeb, #8ca196);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  font-size: 15px;
}

.documentStyle {
  width: 96%;
  margin-left: 2%;
  padding: 1vh;
  color: #304040;
  border-bottom: 1px solid #51645a;
}

.import-holder {
  display: flex;
  flex-direction: column;
}

.custom-label {
  width: 14rem;
  height: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  border: 1px solid;
}

.custom-label:hover {
  width: 14rem;
  height: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  background-color: #aaa8a8;
  border: 1px solid;
}

.custom-form-elements {
  border-radius: 0.25rem;
  margin-left: 1rem;
  height: 2.5vh;
}

.upload-label {
  margin-right: 0.5rem;
  margin-bottom: 0rem;
  padding: 0.5vh 2vh 0.5vh 3vh;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 2px 3px 5px #000;
  border-radius: 4px;
  display: block;
  border: none;
  background-image: linear-gradient(to right,
      #304040 0%,
      #52695d 51%,
      #304040 100%);
}

.upload-label:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* .upload-label:before,
.upload-label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: #26303879;
    z-index: -1;
    transform: translate3d(0,-100%,0);
    -webkit-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    -moz-transform: translate3d(0,-100%,0);
    transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
  }


.upload-label:hover:after{
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
} */

.upload-label:focus {
  /* box-shadow: 0 0 0 .3rem #263038;
  border: 3px outset rgb(114 114 114); */
}

.componentHolder {
  overflow: auto;
}

.leftContainer {
  width: 30%;
  padding-right: 2%;
  margin-bottom: 10vh;
}

.title {
  max-width: 77%;
}

.custom-btn {
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: sans-serif;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgba(38, 48, 56, 0.75);
  border: transparent;
}

.custom-btn:focus {
  outline: none;
  border: none;
}

.titleHolder {
  width: 100%;
  background-color: #42544f;
  color: white;
  font-weight: bold;
  font-size: 20px;
  align-content: flex-start;
  border-radius: 5px 5px 0 0;
  padding: 1.5vh;
  margin-bottom: -0.5vh;
}

.docsTitle {
  font-size: 18px;
  margin-left: 1%;
  border-bottom: 3px solid #50635a;
  margin-top: 2vh;
  width: max-content;
}

.btn_del_docs {
  background: transparent;
  /* border: 3px outset red; */
  color: #bc0d00;
  padding: 0.3rem 0.5rem 0.3rem;
  border: none;
}

.btn_del_docs:hover {
  color: #a70b00;
  /* border: 3px inset red;
  padding: 0.3rem 0.5rem 0.3rem; */
}

.btn_del_docs:focus {
  /* border: 3px inset red; */
  outline: none;
}

.btn_save_docs {
  background-image: linear-gradient(to right,
      #285c52 0%,
      #46aa5d 51%,
      #04681b 100%);
  margin-right: 0.5rem;
  margin-bottom: 0rem;
  padding: 0.5vh 2vh 0.5vh 3vh;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 2px 3px 5px #464646;
  border-radius: 4px;
  display: block;
  border: none;
}

.btn_save_docs:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn_save_docs:focus {
  outline: none;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .flex {
    justify-content: flex-end;
  }

  .documentStyle {
    display: grid;
    grid-template-columns: 100%;
  }

  .title {
    max-width: 100%;
  }

  .docsTitle {
    font-size: 15px;
  }

  .titleHolder {
    font-size: 19px;
  }

  .actions {
    font-size: 13px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .flex {
    justify-content: flex-end;
  }

  .rightContainer {
    width: 98%;
    margin: 0% 1%;
    padding: 2% 3% 2% 3%;
  }

  .documentStyle {
    display: grid;
    grid-template-columns: 100%;
  }

  .actions {
    font-size: 13px;
  }

  .title {
    max-width: 100%;
    font-size: 14px;
    padding-bottom: 1vh;
  }

  .docsTitle {
    font-size: 16px;
  }

  .titleHolder {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1389px) {
  .flex {
    justify-content: flex-end;
  }

  .documentStyle {
    display: grid;
    grid-template-columns: 100%;
  }

  .title {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1600px) {
  .title {
    max-width: 70%;
  }
}