.search-holder {
  display: grid;
  margin: 0vh;
  margin-left: 1vh;
  margin-right: 1vh;
  overflow: auto;
}

.grid-holder {
  margin: 0.5%;
}

.searchForm {
  display: flex;
  column-gap: 1vh;
  border-bottom: none;
  padding: 1vh;
  background: white;
  box-shadow: 3px 3px 3px #a3a3a3;
  border-left: 1px solid #a4a4a4;
  border-right: 1px solid #a4a4a4;
  border-top: 1px solid #a4a4a4;
}

.search-holder-title {
  background: #4c5e56;
  color: white;
  padding: 0.5%;
  border-radius: 6px 6px 0 0;
}

.btn-holder {
  display: flex;
  flex-direction: row;
  background: white;
  height: max-content;
  border: 1px solid #a4a4a4;
}

.search-button {
  text-align: center;
  margin: 0.5%;
  transition: 0.5s;
  padding: 0.5%;
  background-size: 200% auto;
  color: white;
  box-shadow: inset 2px 2px 5px rgb(110 110 110 / 50%), 1px 1px 5px rgb(63 63 63);
  height: 5vh;
  border-radius: 4px;
  display: block;
  border: none;
  background-image: linear-gradient(to right, #304040 0%, #52695d 51%, #304040 100%);
}

.reset-button {
  text-align: center;
  margin: 0.5%;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: inset 2px 2px 5px rgb(110 110 110 / 50%), 1px 1px 5px rgb(63 63 63);
  height: 5vh;
  border-radius: 4px;
  display: block;
  border: none;
  background-image: linear-gradient(to right, #606060 0%, #919191 51%, #686868 100%);
}