.ag-header-container {
  background: #5b7065;
  color: white;
  font-size: 15px;
}

.ag-header-icon {
  color: white;
  opacity: 100% !important;
}

.ag-theme-balham {
  font-size: 15px;
}

.ag-cell {
  font-size: 15px;
}

.ag-icon {
  color: white !important;
}

.farm-registry-forms .field-string,
.farm-registry-forms .field-integer,
.farm-registry-forms .field-number,
.farm-registry-forms .field-boolean {
  width: 33%;
}

.farm-registry-forms legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  text-align: center;
  white-space: normal;
  background: #e0ab11;
  border-radius: 15px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 10px 2px #26303885;
}

.farm-reg-dd legend {
  display: none;
}

.farm-reg-dd .field-string {
  width: 100%;
}

.dd-form-con {
  display: flex;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: none;
}

.modal-content {
  border: none;
  margin: 0;
  width: 90%;
  max-width: none;
}

.modal-header .close {
  color: white;
}

.modal-header .close :focus {
  outline: none;
  border: none;
}

.farm-registry-forms .field-string #root_ID_NO::after {
  content: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 7L5.5 5.5M20 7L16.5 5.5M5.5 16.5L7 15M11 5L11 3M5 11L3 11M17.1603 16.9887L21.0519 15.4659C21.4758 15.3001 21.4756 14.7003 21.0517 14.5346L11.6992 10.8799C11.2933 10.7213 10.8929 11.1217 11.0515 11.5276L14.7062 20.8801C14.8719 21.304 15.4717 21.3042 15.6375 20.8803L17.1603 16.9887Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  width: 22px;
  height: 10px;
  margin: 10px 5px 0 10px;
  position: absolute;
  right: 10px;
  top: 10px;

}

.farm-registry-forms .field-string {
  position: relative;
}

::placeholder {
  font-weight: bold;
}